<html>
    <head>
        <title>ecw to tiff online</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Convert ECW format to tiff online, also supports GeoTiff">
    </head>

    <h1>ECW to Tiff Online converter</h1>

    <ul>
        <li>Convert ECW format to tiff online</li>
        <li>Cloud Optimized GeoTiff supported</li>
    </ul>

    <p>Please Upload your file below to start conversion</p>

    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>

</html>
